body {
	overflow: hidden;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-left: 80px;
	padding-top: 80px;
}
ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	height: 100px;
	width: 100px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-top: 5%;
	margin-left: 5%;
}

.moves {
	float: right;
	margin-top: -20%;
	margin-right: 50%;
}

.reset {
	margin-left: 10px;
	background-color: cornflowerblue;
	border: 1px solid;
	color: white;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 25px;
}
.reset:active {
	background-color: green;
}

.section {
	float: left;
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.section {
		width: 100%;
	}
	.square {
		width: 50px;
		height: 50px;
	}
	.reset {
		font-size: 8px;
		padding: 4px;
	}
	.mobile-view {
		font-size: 15px;
	}
	.move {
		margin: 3px;
	}
}
